- var Sitename = "sitename"
doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Sitename
        link(rel="stylesheet", href="assets/css/entry.css")
